/* .home-page-castle-drawing {
  background-image: url('images/home-page-castle-drawing.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
} */


body {
  background: #5effdc;
  background-image: url('images/home-page-castle-drawing.png');
  background-size: cover;
  background-position: center;
  height: 100vh;

  margin-right: center;
  padding: 40px;
  font-family: Courier, monospace;
  
}

/* Title */
.title {
  color: rgb(22, 179, 74);
  margin-bottom: 20px;
  font-weight: 700;
}

/* Light underline under the title */
.underline {
  width: 200px;
  height: 2px;
  background: #03fc9c;
  color: #d12323;
  margin-bottom: 50px;
}

/* Centered button */
.main-button {
  display: block;
  margin: 35px auto;
  padding: 25px 75px;
  background: rgb(22, 179, 74);
  border: 5px solid rgb(0, 134, 72);
  border-radius: 150px;
  font-family: Courier, monospace;
  font-size: 25px;
  color: #000000;
  cursor: pointer;

  /* Smooth transition to hover state */
  transition: background 0.25s ease, border-color 0.25s ease;
}

/* Hover effect */
.main-button:hover {
  background: rgb(39, 214, 98);       /* #87CEEB */
  border-color: rgb(9, 168, 94); /* #9370DB */
  font-weight: 1000;

}
